<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Manifest.plist
   Gooooals

   Created by Gooooal on 2019/4/23.
   Copyright (c) 2019 ZIVBOX. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/zivbox/Gooooal/master/Gooooal.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/zivbox/Gooooal/master/Icon5757.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/zivbox/Gooooal/master/Icon512512.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>gooooal.zq</string>
                <key>bundle-version</key>
                <string>2.6.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Gooooal</string>
            </dict>
        </dict>
    </array>
    
    </dict>
</plist>
